html {
    background-color: #191F2C;
}

.cStatus  a {
   color: #4299E0; 
}

.cStatus a:hover {
    text-decoration: underline !important;
}

.follow-button {
    @apply border; 
    @apply text-sm;
    @apply text-blue-500;
    @apply py-1;
    @apply px-2;
    @apply rounded;
}

.follow-button:hover {
    @apply bg-blue-700;
}

.follow-button:focus{
    @apply outline-none ;
    @apply shadow-outline;
}

.fancy-border {
    width: 150px;
    height: 150px;
    text-align:center;
    border-top: 5px solid;
    border-image:   linear-gradient(to right, grey 25%, yellow 25%, yellow 50%,red 50%, red 75%, teal 75%) 5;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body{
  height: 100%;
  font-weight: 800;
}

body{
  font-family: Arial;
}

svg {
    display: block;
    font: 10rem 'Montserrat';
    width: 960px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: rgb(32, 61, 221);
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #840037;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: rgb(34, 49, 78);
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: rgb(0, 0, 0);
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: rgb(26, 85, 139);
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}