html {
    background-color: #191F2C;
}

.cStatus  a {
   color: #4299E0; 
}

.cStatus a:hover {
    text-decoration: underline !important;
}

.follow-button {
    @apply border; 
    @apply text-sm;
    @apply text-blue-500;
    @apply py-1;
    @apply px-2;
    @apply rounded;
}

.follow-button:hover {
    @apply bg-blue-700;
}

.follow-button:focus{
    @apply outline-none ;
    @apply shadow-outline;
}

.fancy-border {
    width: 150px;
    height: 150px;
    text-align:center;
    border-top: 5px solid;
    border-image:   linear-gradient(to right, grey 25%, yellow 25%, yellow 50%,red 50%, red 75%, teal 75%) 5;
}